html, body {
	padding: 0;
	margin: 0;
}

h3, p {
	font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h4, h5 {
	font-family: 'Playfair Display', serif !important;
}

#row {
	max-width: 100%;
	width: 100%;
}

#left {
	position: fixed;
	margin-left: 2%;
	width: 40%;
}

#right {
	width: 56%;
	margin-left: 42%;
}

.card {
	width: 85%;
	border-radius: 0 !important;
	margin-bottom: 8px;
}

.card-title {
	font-size: 11pt;
	line-height: 14pt;
}

.card-date {
	font-size: 9px;
	line-height: 9px;
	text-align: right;
	color: #555;
	margin-bottom: 0 !important;
}

p {
	font-size: 9pt;
	line-height: 12pt;
}